.carousel {
    height: 100%;
  }
  
  .carousel-inner {
    height: 100%;
  }
  
  .carousel-inner img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .carousel-centered {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 90%;
  }